.Article{
  text-align: left;
  padding: 20px 40px;
}
.small__header {
  display: flex;
  margin-top: -20px;
  font-weight: 200;
  font-size: 24px;
}
.mapMarker {
  font-size: 20px;
  padding: 7px;
}
.article__main {
  font-size: 18px;
  padding: 30px 35px 30px 10px;
}
.quote {
  width: 70%;
  display: flex;
  padding: 50px 40px 0 40px;
  font-style: italic;
}
.pipe {
  height: 85px;
  width: 15px;
  background-color: cadetblue;
}
.quote__text {
  padding: 0 195px 0 20px;
}
.footer {
  padding: 20px 35px 30px 10px;
  font-size: 18px;
}

@media (max-width: 1100px) {
  .quote {
    width: 90%;
  }
  .quote__text {
    padding: 0 85px 0 20px;
  }
}
@media (max-width: 800px) {
  .Article {
    padding: 10px 10px;
  }
  .quote__text {
    padding: 0 40px 0 20px;
  }
  .pipe {
    height: 85px;
    width: 15px;
  }
}
@media (max-width: 600px) {
  .article__main, .footer, .quote {
    font-size: 16px;
    padding: 20px 0 0 0;
  }
  .pipe {
    height: 95px;
    width: 10px;
  }
}
@media (max-width: 450px) {
  .pipe {
    height: 105px;
    width: 10px;
  }
}