.NavMenu {
  height: 90px;
  display: flex;
  justify-content: space-between;
  padding: 0 0 0 200px;
  background: rgba(88, 199, 162, 0.8);
}

@media (max-width: 530px) {
  .NavMenu {
    height: 60px;
    padding: 0 0 0 170px;
  }
}
@media (max-width: 370px) {
  .NavMenu {
    justify-content: center;
    padding: 0;
  }
}